body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #544f4f;
  margin: 0;
  padding: 0;
}

h1 {
  color: #e21a1a;
  margin-top: 500px;
}

button {
  background-color: #007bff;
  color: rgb(74, 48, 48);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.read-the-docs {
  margin-top: 20px;
  color: #666;
  font-size: 14px;
}
